body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #f2f2f2;
  opacity: 0.9;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav img {
  height: 50px;
}
nav p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #303030;
  margin: 6px;
  text-transform: uppercase;
  text-align: center;
}

.abouthero {
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_2/master/assets/images/fix-about-hero.jpg);
  background-color: black;
  background-size: cover;
  height: 300px;
  background-position: 50%;
  margin: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
  color: #f2f2f2;
  background-color: #d49b30;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
  position: relative;
  bottom: 50px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
  margin: 0.9375em;
}

h3 span {
  font-family: 'Lato Light', sans-serif;
  color: #8e5942;
  text-transform: uppercase;
  font-weight: 200;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #303030;
  line-height: 1.6em;
  margin: 0.9375em;
}

.bakersinfo a {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: #be5f27;
  margin: 0.9375em;
}

.bakersplash {
  background-color: #e0d7c5;
}

.bakers {
  height: 15.375em;
  margin: auto;
}

#cassandra {
  margin-left: 10em;
}

.customorder {
  background-color: #8e5942;
  text-align: center;
  padding: 1.25em;
}

.customorder p {
  color: #f2f2f2;
  font-family: 'Oswald', sans-serif;
}

.customorder a {
  font-style: italic;
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #be5f27;
}

.address {
  text-align: center;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  color: #f2f2f2;
  font-size: .9em;
}

footer p {
  font-family: 'Oswald', sans-serif;
  font-size: .9em;
  color: #f2f2f2;
}

footer {
  background-color: #be5f27;
  text-align: center;
}

footer .logos {
  margin: 10px;
}

.logos img {
  margin: 5px;
}

.fixlogo {
  width: 145px;
  margin: auto;
}

@media(min-width: 660px) {}

@media(min-width: 940px) {}
