.abouthero {
  background-image: url(../images/fix-about-hero.jpg);
}

h3 {
  margin: 0.9375em;
}

h3 span {
  font-family: 'Lato Light', sans-serif;
  color: #8e5942;
  text-transform: uppercase;
  font-weight: 200;
}

p {
  margin: 0.9375em;
}

.bakersinfo a {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: #be5f27;
  display: flex;
  align-items: flex-end;
}

.bakersinfo a:hover {
  text-decoration: underline;
}

.bakersplash {
  background-color: #e0d7c5;
}

.bakers {
  height: 15.375em;
}

.bakerflex {
  margin-bottom: 0.625em;
}

.customorder {
  background-color: #8e5942;
  text-align: center;
  padding: 1.25em;
}

#cassandra {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin: 0;
}

@media(min-width: 660px) {
  .abouthero {
    height: 28.75em;
  }
  h1 {
    margin-bottom: -50px;
    overflow: visible;
    z-index: 1;
  }
  .bakersinfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .bakersinfo img {
    width: 18.75em;
    height: auto;
  }
  #cassandrainfo {
    flex-direction: row-reverse;
  }
  #cassandrainfo img {
    width: auto;
    height: 18.125em;
    margin-right: 1em;
  }
  #cassandraflip {
    text-align: right;
    margin-bottom: 2.625em;
  }
  .bakersplash {
    display: flex;
    align-items: flex-end;
    height: 18.75em;
    width: 50%;
    z-index: -1;
  }
  .bakerflex {
    width: 50%;
  }
  #riley {
    height: 21.875em;
  }
  #riley img {
    margin: 0;
  }
}

@media(min-width: 940px) {
  .abouthero {
    height: 39.75em;
  }
  .bakersinfo img {
    width: 24.75em;
  }
  #cassandrainfo img {
    height: 23.125em;
  }
  .bakersplash {
    height: 24.75em;
  }
  .bakerflex {
    margin-bottom: 2.625em;
  }
  #cassandraflip {
    margin-bottom: 4.625em;
  }
}
/* insert comment here */
