body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.abouthero {
  background-image: url(https://raw.githubusercontent.com/LilithN/web_group_project_2/master/assets/images/fix-about-hero.jpg);
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1em;
  color: #f2f2f2;
  background-color: #d49b30;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
  margin: 15px;
}
h3 span {
  font-family: 'Lato Light', sans-serif;
  color:#8e5942;
  text-transform: uppercase;
  font-weight: 200;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #303030;
  line-height: 1.6em;
  margin: 15px;
}
a {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #be5f27;
  margin: 15px;
}
.bakersplash {
  background-color: #e0d7c5;
}
.bakers {
  height: 246px;
  margin: auto;
}
#cassandra {
  margin-left: 160px;
}


@media(min-width: 660px){

}





@media(min-width: 940px){
  .bakersinfo {
    display: flex;
    flex-direction: row;
  }
  #cassandrainfo {
    display: flex;
    flex-direction: row-reverse;
  }
  .bakers {
    height: 500px;
  }
  .bakerflex {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    max-width: 435px;
    margin-left: 25px;
  }
}
