p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #303030;
    line-height: 1.6em;
}

p a {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1em;
    color: #be5f27;
    text-decoration: none;
  }
  
  p a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1em;
    color: #d49b3c;
    cursor: pointer;
    text-decoration: underline;
  }

.mainInfo {
    background-color: #e0d7c5;
    margin-right: 15.625em;
    margin-left: 15.625em;
    
}

.fixMenuHero {
    margin-bottom: -4px;
}

article {
    margin-right: 3em;
    margin-left: 3em;
    border-bottom-color: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.onBoth {
    margin-right: 3em;
    margin-left: 3em;
    border: none;
}